.root {
    /* width: 100vw; */
    margin-bottom: 100px;
    justify-content: center; 
    align-items: center;
    display: flex; 
    flex-direction: column; 
      }
    
      .divsContainer {
        display: flex;
        width: 100%;
        max-width: 1400px;
        height: auto;
        justify-content: center; 
        align-items: center;
      }

      
      .allNews {
        width: 100%;
        height: auto;
        padding: 10px;
        max-height: 1200px; 
        overflow: auto; 
      }
      

      .topNewsDiv {
        display: flex;
        flex-direction: column;
      }
      
 
      .sectionHeader{
        padding: 15px 15px;
        margin: 0 auto;
        border-top: solid 1px rgb(0,0,0, 0.5);
        border-bottom: solid 1px rgb(0,0,0, 0.5);
        width: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }
 
    .paginationComponent{
      text-align: center;
    }
