  .root {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    width: 100%; 
    height: auto;
  }

  .newsPiece{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
  
  .image {
    position: relative;
    flex:0.8;
    width: 35%;
    height: 140px;
  }

  .columnWrapper{
    flex: 1.2;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.2rem;
    padding: 0 0 5px 10px;
    height: 50px;
    flex:0.9;
  }
  
  .description {
    font-size: 0.9rem;
    text-align: left;
    padding: 5px 0 0 10px;
    flex:0.8;
    overflow: hidden;
    max-height: 60px;
  }
  
  .timeAgo {
    font-size: 9px; 
    margin: 0;
    padding: 5px 0 0 10px;
    text-align: left;
    flex:0.1;
  }
