.bannerContainer {
  width: 100%;
  padding: 1.5rem;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}
.description {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 1.5rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.ai {
  font-weight: 700;
  font-family: var(--font-mono);
}

.sectionsContainer {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0;
  margin: 0
}
