.root {
width: 100vw;
justify-content: center; 
align-items: center;
display: flex; 
flex-direction: column; 
  }

  .divsContainer {
    display: flex;
    width: 80vw;
    max-width: 1400px;
    margin-top: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    padding-bottom: 20px;
  }

  .leftDiv,
.rightDiv {
  overflow: auto; 
}
  
  .leftDiv {
    width: 50%;
    height: auto; 
    padding: 10px;
    flex: 1.2;

  }
  
  .rightDiv {
    width: 50%;
    height: auto; 
    flex: 0.8;
  }
  
  .topNewsDiv {
    display: flex;
    flex-direction: column;
  }
  
  .newsArticle {
    flex: 1;
    padding: 0px;
  }
  